body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bgsign.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    background: rgb(255, 255, 255);
    /* backdrop-filter: blur(5px); */
}

.card-header {
    background-color: white;
    color: rgb(84, 84, 84);
    text-align: center;
    padding: 20px;
    border-bottom: none;
}

.card-header h3 {
    margin: 0;
    font-weight: 600;
}

.card-body {
    padding: 40px;
}

.alert {
    border-radius: 10px;
    font-size: 14px;
    color: #FF1919;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-control {
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 16px;

}

.form-control:focus {
    border-color: #00A7A7;
    box-shadow: 0 0 10px rgba(102, 126, 234, 0.3);
    outline: none;
}

.btn-primary {
    background-color: #6e6e6e;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;

}

.btn-primary:hover {
    /* transform: translateY(-2px); */
    background: #00A7A7;
}

.text-center a {
    color: #6e6e6e;
    text-decoration: none;
    font-weight: 500;

}

.text-center a:hover {
    color: #00A7A7;
    text-decoration: underline;
}

.logo{
    width: 150px;
    margin: 30px 10px 20px 10px;
}

