{% extends 'base.html.twig' %}

{% block title %}{{ place.name }} - TuniWay{% endblock %}

{% block body %}
    <hr>
    {{ include('partials/_reviews.html.twig', {'reviews': place.reviews, 'type': 'place', 'subject_id': place.id}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_place_edit', {'id': place.id}) }}">edit</a>

        {{ include('place/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
